
/*_____FONTS_____*/

/*PPMORI*/
@font-face{
    font-family: PPMori-Regular;
    src:url("./Fonts/PPmori/PPMori-Regular.otf") ;
}
@font-face{
    font-family: PPMori-SemiBold;
    src:url("./Fonts/PPmori/PPMori-SemiBold.otf") ;
}
@font-face{
    font-family: PPMori-Extralight;
    src:url("./Fonts/PPmori/PPMori-Extralight.otf") ;
}

/*NEUE MONTREAL*/
@font-face {
    font-family: PPNeueBold ;
    src: url("./Fonts/NeueMontreal/PPNeueMontreal-Bold.otf");
}
@font-face {
    font-family: PPNeueBook ;
    src: url("./Fonts/NeueMontreal/PPNeueMontreal-Book.otf");
}
@font-face {
    font-family: PPNeueItalic ;
    src: url("./Fonts/NeueMontreal/PPNeueMontreal-Italic.otf");
}
@font-face {
    font-family: PPNeueMedium ;
    src: url("./Fonts/NeueMontreal/PPNeueMontreal-Medium.otf");
}
@font-face {
    font-family: PPNeueSemiBoldItalic ;
    src: url("./Fonts/NeueMontreal/PPNeueMontreal-SemiBolditalic.otf");
}
@font-face {
    font-family: PPNeueThin ;
    src: url("./Fonts/NeueMontreal/PPNeueMontreal-Thin.otf");
}

/*HEADER*/

header{
   box-sizing: border-box;
   position: sticky;
   width: 100%;
}

.nav-links {
    display: flex;
    grid-column-gap: 2em;
}

.desktop-navigation{
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    padding:1.25rem 0rem;
    margin: auto 10.125em;
}



.desktop-navigation a{
    text-decoration: none;
    font-family: PPMori-Extralight;
    color: #252525;
}

.logo{
    margin-right:auto;
 }

header .nav {
    display: grid;
    grid-template-columns: 5fr 6fr 1fr;
    grid-column-gap: 1.5em;
}
/*GENERAL*/

@media screen and (min-width: 1600px) {
    .wrapper {
        max-width: 85em;
    }
}

html {
    scroll-behavior: smooth;
}

*{
    background-color: #f3f3f3;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

h1{
    font-family: PPMori-SemiBold;
    color: #252525;
}

h4{
    font-family: PPNeueThin;
    font-size: 2rem;
}



p{
    font-family: PPNeueThin;
    font-size: 1.25rem;
}

a:hover {
    font-family: PPNeueItalic;
    font-size: 1.25rem;
    transition: all 0.5s ease ;
    color:#9AA997;
}

section{
    margin: 25vh 1vh;
    justify-content: center;
}


/*ABOUT*/

/*Top-About*/

.wrapper{
    max-width: 110em;
    padding: 0 2.5em;
    margin: 0em auto;
}

.top-about{
    margin: 1em 10.125em;
}

.top-about h4{
    margin-left:.5rem;
    padding-bottom: 1rem;
}
.main-name-title{
    font-size: 5.5em;
    letter-spacing: -0.5rem;
    display: inline;
    line-height:.8;

}

.full-main-name-title{
    display: grid;
    align-items: flex-end;
    grid-template-columns: 8fr 2fr;
    grid-column-gap: 4em;

}

.education-short{
    margin-bottom: 1em;
    position: relative;
    letter-spacing: 0;
    width: fit-content;
}

.about-description{
    display: grid;
    align-items: flex-end;
    grid-template-columns: 8fr 2fr;
    grid-column-gap: 4em;
    line-height: 1.5rem;
    margin: 1.5em 10.125em;
}
.about-description p {
}

/*Bottom About*/

.bottom-about{
    margin: 3em 0em;
}

.about-media-links{
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.about-media-links h1{
    font-size: 1.5rem;

}

.media-links{
    text-decoration:none;
    list-style: none;
    color: #252525;
}

.media-links:hover{
    color:#9AA997 ;
    transition: all 0.5s ease ;
    cursor: pointer ;
}

.media-links-box{
    border-top: 0.005rem solid #252525;
    padding-top: 0.5em;
    gap: 1em;
}

/*EDUCATION SECTION*/


.education-box-containers{
    margin: 1em 10.125em;
}

.education-container-full{
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 12fr 0fr;
}
.section-titles {
    font-size: 3rem;
    padding: 1.5em 0;
}
.section-title{
    display: flex;
    gap: 0.5em;
    font-size: 1.25rem;
    padding-bottom: 1em;
}

.section-title p{
    font-size: 1.5rem;
    margin: auto 0;
}

.information-education-container{
    margin: 1rem 3rem;
}

.related-course-work{
    margin-left: 2rem ;
    padding: 0.25rem;
}

.course-work{
    list-style: none;
}
.course-work li{
    padding: 0.25rem;
}


/*SKILLS*/

.skills-box-containers{
    margin: 1em 10.125em;
}

.skills-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 12em;
    align-items: start;
}

.skill-boxes{
    padding-left: 0.75em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.section-title2{
    padding-left: 0.1em;
    position: relative;
    align-items: center;
    padding-bottom: 0;
    font-size: 2rem;

}

.indiv-skills{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    justify-content: flex-start;
}

article {
    display: flex; /* Aligns icon and text horizontally */
    align-items: center; /* Centers content vertically within the article */
    gap: 10px; /* Adds space between the icon and text */
}

.icon {
    width: 40px; /* Sets width of icons */
    height: auto; /* Maintains aspect ratio */
}

.icon-text p{
    font-size: 3rem;
}
.icon{
    height: 4rem;

}





